<div class="tile-container">
  <h1 class="about-header">About Felcia</h1>
  <div class="about-p">
    As someone who has dated Felicia since before middle school (I'm 22 now), I'v
    already made a ridiculous amount of memories with her. I've probably sent
    more text messages to her and talked to her on the phone more than all of the
    other people in my life combined. I could of probably bought a decent car
    with all the money I've spent on dates with her and gifts for her. I've made
    her cry too many times to remember and she has made me lay in bed upset many
    nights. But, I've also probably burned around 32,850 calories
    (thats enough energy to lose 27 pounds) from laughing with her (yes I actually
    did some math and estimates to come up with those numbers). And, I've stayed
    late at restaurants just enjoying her eyes and smile as we talk about our dreams.
    It's crazy when your first memory of sneaking out of a middle school carnival
    to make out with a girl, and your first memory of having a girl over to your
    college dorm room after a night of partying are with the same person. It's
    crazy to think that the same girl you awkwardly danced with in middle school
    to "Lips of an Angel", is the same girl you held close on senior night prom,
    and the same girl you grinded with at college clubs. The more I type the more
    I can just go on and on about our memories from our first kiss watching Happy
    Feet, to going to see the ball drop in NY on New Years, to trying to keep tons
    of kids under control as they throw glitter on a mission trip, to me teaching
    her to play League of Legends, to her teaching me to cook actually good tasting
    food, to taking pictures with each others families on high school graduation,
    to her taking care of me when I drank to much and vice versa... I
    could go on for pages and thats not even including all the special memories that
    I wouldn't write on a public place. I guess what I'm trying to get at is that
    when you spend that much time with someone, especially when you are growing up,
    thats huge time, money, and memory investment -- but when I look at her I have
    no regrets that she is still my valentine and I'm looking forward to many more
    valentines =).
  </div>

  <br>

  <div class="about-p">
    Well this was suppose to be an about Felicia page and I never really got
    around to it... So anyways Felicia wants to change the world through education
    and inspiring young kids to learn and pursue their goals. This is a genuine passion
    and purpose she has, which is a trait I love about her. She is super kind,
    cute, and innocent when you first meet her, but once you get to know her you'll
    realize she is actually tough and sassy ;P. I'm excited to see where
    the future takes her.
  </div>
</div>
